.mapboxgl-draw-named-line--name-container {
    position: absolute;
    top: 10px;
    right: 45px;
}
.mapboxgl-draw-named-line--name-container button, .mapboxgl-draw-named-line--name-container input {
    margin-left: 5px;
}
.mapboxgl-draw-named-line--name-container input {
    width: 100px;
}